/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  text-decoration: none;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BEGIN CSS */

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
  background-color: #CAC9C9;
  align-content: center;
  border-bottom: 2px outset #E0E0E0;
  height: 60px;
}

.navbar div {
    padding: 5px;
    width: auto;
    height: auto;
    margin: 1% 2.5% 1% 2.5%;
    line-height: 20px;
    color: white;
    text-align: center;
}

.navbar a {
  font-size: 2.25em;
  color: #FFFDFD;
  max-width: 50%
  align-items: center;
  flex: 1 1 auto;
}

.navbar a:hover {
  color: #E0E0E0;
}

.navbar a.active {
  text-decoration: underline;
  color: #B7B4B4;
}


.sidebar {
  position: absolute;
  left: 0; top: 62px; bottom: 0;
  background-color: #F9F9F9;
  float: left;
  width: 250px;
  padding: 40px;
  box-sizing: border-box;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: scroll;
}

.Title {
  padding-bottom: 1em;
  width: 100%;
}

.TopicName {
  font-family: Arial Black, sans-serif;
}

.Post {
  font-family: Arial;
  line-height: 1.5;
}

.blog {
  top: 62px;
  padding-left: 250px;
  right: 0;
  bottom: 0;
}

.Landing {
  flex-flow: column nowrap;
  align-content: center;
  width: 50%;
  margin: 2.5% auto 0 auto;
  text-align: center;
  font-family: Arial Black;
}

.Landing img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: Arial Black, sans-serif;
  font-size: 1.2em;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-family: Arial;
}


/* ======= ABOUT ======= */

.websites {
    width: auto;
    height: auto;
    margin: 5px 2.5% 1% 2.5%;
    text-align: center;
    flex: 0 1 auto;
    justify-content: space-around;
    font-family: "Palatino", serif;
}

.websites a {
  font-size: 1.25em;
  flex: 1 1 auto;
}

.websites a:hover {
  color: #E0E0E0;
}

.websites a.active {
  text-decoration: underline;
  color: #B7B4B4;
}

.websites p {
  font-size: 1.5em;
  padding-bottom: 3px;
}

















